.header{
    justify-content: space-between;
    padding-top: 15px;
    &__links{
        list-style: none;
        display: flex;
        gap: 20px;
    }
    &__link{
        font-size: 25px;
        color: var(--black);
        text-decoration: none;
        font-weight: bold;
        transition: .2s linear;
        &:hover{
            color: var(--pink);
        }
    }
    &__buttons{
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.active{
    color: var(--pink);
}

.mobile{
    display: none;
    margin-top: 20px;
    width: 100vw;
    padding: 0 10px;
    &__nav{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        &__link{
            &__img{
                max-width: 40px;
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .header{
        display: none;
    }
    .mobile{
        display: block;
    }
}